/* Added CSS outside of the Materialize CSS Framework */
:root {
    --dark-teal: #004d40;
    --white: #e0f2f1
}

body {
    /* display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%; */
    background-color: var(--dark-teal);
}

.content {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.headerContainer {
    padding-top: 250px
}

.homemadeH1 {
    color: var(--white);
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

input {
    max-width: 75%;
    color: var(--white);
}

button {
    font-size: 18px;
    color: var(--white);
    width: 125px;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px transparent;
    border-radius: 15px;
}

main {
    
}